.events-register-form-wrapper {
    max-width: 1365px !important;
}

.iframe-form-container{
    width :95%;
    height: 900px !important;

}
.form-heading{
    color: var(--Grey-900, #141414);
    font-family: "Geogrotesque Sharp VF";
    font-size: 32px;
    font-style: normal;
    font-weight: 330;
    line-height: 65px;
}
.form-sub-heading{
    color: var(--Grey-600, #5B5B5B);
    font-family: "Geogrotesque Sharp VF";
    font-size: 16px;
    font-style: normal;
    font-weight: 530;
    line-height: 45px; 
    letter-spacing: 0.08px;
}