.resourcesearch-container {
 display: flex;
height: 48px;
padding: 12px 16px;
align-items: center;
gap: 16px;
flex: 1 0 0;
border-radius: 4px;
border: 1px solid var(--Grey-200, #C6C6C6);
background: #FFF;
width:950px;
}

.search-container.char-limit-reached {
    border: 1px solid #B12A28;
    border-radius: 0;
}

#resourcehub-search-box {
    color: var(--Grey-500, #707070);

/* Desktop/text-base/regular */
font-family: "Geogrotesque Sharp VF";
font-size: 16px;
font-style: normal;
font-weight: 330;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
flex: 1 0 0;
    
}

.search-box::placeholder {
    color: var(--Grey-400, #8A8A8A);
    font-family: "Geogrotesque Sharp VF";
    font-size: 16px;
    font-style: normal;
    font-weight: 330;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.dropdown-content {
    margin-top: 20px;
}

.global-search-btn {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 3px;
    border: 0px solid var(--Grey-100, #ECECEC);
    background-color: var(--Grey-600, #5B5B5B) !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
}

.dropdown-content {
display: flex;
width: 238px;
padding: 5px 0;
flex-direction: column;
align-items: flex-start;
gap: 10px;

border-radius: 4px;
background: #FFF;
box-shadow: -2px 3px 18.4px 0 rgba(19, 19, 19, 0.15);
color: var(--Grey-900, #141414);

/* Desktop/text-base/regular */
font-family: "Geogrotesque Sharp VF";
font-size: 16px;
font-style: normal;
font-weight: 330;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    display: flex;
    align-items: center;
    gap: 6px;
}

#global-suggestion-popup{
    position: absolute;
    top: 296px;
    left: 488px;
    width: 32%;
    overflow-y: auto;
    z-index: 10;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(19, 19, 19, 0.05);
    display: none;
}

.global-suggestion-item {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.global-suggestion-item svg {
    margin-right: 10px;
}

.global-history-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.global-history-item svg {
  margin-right: 10px;
}
