.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }

  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--Neutrals-900, #141414);
    font-family: "Geogrotesque Sharp VF", sans-serif !important;
    font-style: normal;
    padding-top: 20px;
  }  

  p {
    color: var(--Neutrals-500, #707070);
    font-family: "Geogrotesque Sharp VF", sans-serif !important;
    font-style: normal;
    padding-top: 20px;
  }

  strong {
    font-weight: 530;
  }

  ul {
    list-style-type: inherit;
    padding-left: 30px;
    padding-top: 20px;
  }
  
  ul li::marker {
    font-size: 0.6em;
  }

  .ol {
    list-style-type: decimal;
    padding-left: 30px;
    padding-top: 20px;
  }

ul li,
ul li a,
ol li,
ol li a {
  color: var(--Neutrals-500, #707070);
  font-family: "Geogrotesque Sharp VF", sans-serif;
  font-style: normal;
  font-weight: 330;
}

ul li {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.045px;
}

ul li a {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.045px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

ol li {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08px;
}

ol li a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

