.favorite-all-wrapper {
    margin-top: 0 !important;
    padding: 0 24px !important;
}

/* General Styles */


.favorite-all-wrapper {
    max-width: 90pc !important;
}

.favorite-all-wrapper {
    margin: 0 auto !important;
    max-width: 90pc !important;
    padding: 0 64px !important;
}

.favorite-all-wrapper {
    margin: 0 auto !important;
    max-width: 90pc !important;
}

.banner-description {
    color: #000 !important;
    font-family: "Geogrotesque Sharp VF" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 530 !important;
    line-height: 24px !important;
    /* 150% */
    letter-spacing: 0.08px !important;
}

.banner-description a {
    color: var(--Blue-700, #0068FA);
    font-family: "Geogrotesque Sharp VF" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 530 !important;
    line-height: 24px !important;
    /* 150% */
    letter-spacing: 0.08px !important;
}

.description {
    font-family: "Geogrotesque Sharp VF";
    font-size: 16px;
    font-style: normal;
    font-weight: 330;
    line-height: 24px;
    letter-spacing: 0.08px;
}


.favorite-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.action-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 32px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {

    .favorite-all-wrapper {
        margin-top: 0 !important;
        padding: 0 24px !important;
    }

    .favorite-all-wrapper #facets {
        display: none;
        position: absolute;
        top: 124px;
        padding-bottom: 50px;
        width: 100%;
        height: 90vh;
        overflow-y: scroll;
        background: rgb(255, 255, 255);
        z-index: 123;
    }
      .action-section{
        gap: 20px;
    }
    .favorite-icon {
        width: 24px ;
        height: 24px ;
    }

}
@media (max-width: 768px){
   .action-section {
        width: 100%;
        gap: 15px;
        align-items: start
    }
}

@media (min-width: 1024px) {

    .favorite-all-wrapper,
    .favorite-all-wrapper #facets,
    #mobile-filter-header,
    #mobile-filter-footer {
        max-width: 64pc !important;
        padding-left: 1pc;
        padding-right: 1pc;
    }
}

@media (min-width: 1280px) {

    .favorite-all-wrapper,
    #mobile-filter-header,
    #mobile-filter-footer {
        max-width: 90pc !important;
    }

    .favorite-all-wrapper #facets {
        width: 30%;
    }
}

@media (min-width: 1440px) {

    .favorite-all-wrapper,
    #coveo-life-sciences div,
    .favorite-all-wrapper #facets,
    #mobile-filter-header,
    #mobile-filter-footer {
        max-width: 90pc !important;
    }
}

@media (min-width: 1536px) {

    .favorite-all-wrapper,
    .favorite-all-wrapper #facets,
    #mobile-filter-header,
    #mobile-filter-footer {
        max-width: 96pc !important;
    }

    #coveo-life-sciences div {
        max-width: 88pc !important;
    }
}