.hero-contact-wrapper{
padding: 0 !important;
  max-width: none !important;
}
.hero-contact-container {
  position: relative;
  width: 100%;
  
  overflow: hidden;
}

/* IMAGE */
.hero-contact-image picture,
.hero-contact-image img {
  width: 100%;
  display: block;
}

.hero-contact-image img {
  height: 480px;
  object-fit: cover;
}

/* WHITE OVERLAY PANEL */
.hero-contact-overlay {
  position: absolute;
  top: 40%;
  left: 0;
  bottom: 0;
  /* height: 100%; */
  width: 75%;
  background: rgba(255, 255, 255, 0.85); /* white with opacity */
  display: flex;
  align-items: center;
  padding: 60px;
}

/* CONTENT */


.hero-contact-content h2 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #222;
}

.hero-contact-description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 28px;
  color: #444;
    max-width: 864px;

}

/* BUTTONS */
.hero-contact-buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.primary-btn {
  background-color: #005eb8;
  color: #fff !important;
  padding: 12px 26px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}


.secondary-btn {
  border: 1px solid #005eb8;
  color: #005eb8;
  padding: 12px 26px;
  border-radius: 4px;
  text-decoration: none;
  background: transparent;
  transition: 0.3s ease;
}



/* RESPONSIVE */
@media (max-width: 992px) {
  .hero-contact-overlay {
    width: 70%;
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .hero-contact-overlay {
    position: relative;
    width: 100%;
    height: auto;
  }

  .hero-contact-image img {
    height: 320px;
  }

  .hero-contact-container {
    display: flex;
    flex-direction: column;
  }
}
