
.session-timeline-text {
    color: var(--Grey-900, #141414);
    font-size: 24px;
    font-style: normal;
    font-weight: 530;
    line-height: 24px;
    letter-spacing: 0.12px;
    margin: 20px 0;
}

#clock {
    content: url("/icons/clock.svg");
}

.event-organizer {
    color: var(--Grey-600, #5B5B5B);
    font-family: "Geogrotesque Sharp VF";
    font-size: 16px;
    font-style: normal;
    font-weight: 330;
    line-height: 24px;
    letter-spacing: 0.08px;

}

.session-title {
    color: var(--Grey-600, #5B5B5B);
    font-family: "Geogrotesque Sharp VF";
    font-size: 18px;
    font-style: normal;
    font-weight: 330;
    line-height: 26px;
    letter-spacing: 0.045px;
    margin-left: 26px;
}
/*.event-line {
    display: inline-block;   
    white-space: normal;     
    width: 100%;             
    line-height: 1.5;
  }
  
  .event-line strong,
  .event-line .event-organizer {
    display: inline;
    white-space: normal;
  }*/
@media (max-width: 768px) {
    
      
    .time-row {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
    }

    .time-row strong {
        font-size: 16px;
        white-space: nowrap;
    }

    .event-organizer {
        font-size: 14px;
    }
}